openapi: 3.0.3
info:
  title: Monime API
  description: Monime REST API. Please visit https://docs.momime.io/api for more details.
  termsOfService: https://monime.io/legal/terms-of-service
  contact:
    name: Monime Developers
    url: https://github.com/monimesl
    email: dev@monime.io
  version: v1
servers:
  - url: https://api.monime.io/
security:
  - bearerAuth: [ ]
paths:
  /v1/banks:
    get:
      tags:
        - Bank
      summary: List Banks
      description: Retrieves a list of supported banks available in the specified country. Useful for rendering provider selection options during user payment setup or onboarding.
      operationId: ListBanks
      parameters:
        - name: limit
          in: query
          description: Maximum number of items to return in a single page. Must be between 1 and 50. Defaults to 10 if not specified.
          schema:
            maximum: 50
            minimum: 1
            type: integer
            description: Maximum number of items to return in a single page. Must be between 1 and 50. Defaults to 10 if not specified.
            default: 10
        - name: after
          in: query
          description: Pagination cursor for fetching the next page of results. Set this to the 'next' cursor value from a previous response to continue paginating forward.
          schema:
            maxLength: 2000
            type: string
            description: Pagination cursor for fetching the next page of results. Set this to the 'next' cursor value from a previous response to continue paginating forward.
            nullable: true
        - name: country
          in: query
          description: ISO 3166-1 alpha-2 country code (e.g., 'SL', 'GH') to filter banks by region.
          required: true
          schema:
            type: string
            description: ISO 3166-1 alpha-2 country code (e.g., 'SL', 'GH') to filter banks by region.
        - name: Monime-Version
          in: header
          description: Specifies which version of the Monime API will handle this request.
          schema:
            enum:
              - caph.2025-08-23
              - caph.2025-06-20
            type: string
            description: Specifies which version of the Monime API will handle this request.
            nullable: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: Represents the status of the query operation, confirming if it was successful. This field is always true
                  messages:
                    type: array
                    items: { }
                    description: Contains a list of messages providing relevant information or feedback related to the query or operation
                  result:
                    type: array
                    items:
                      $ref: "#/components/schemas/Bank"
                    description: The list of items in the response
                    nullable: true
                  pagination:
                    type: object
                    properties:
                      count:
                        type: integer
                        description: Number of items returned in the current page.
                      next:
                        type: string
                        description: Cursor pointing to the next page of results. Use this value as the 'after' query parameter in your next request to fetch the following page. If null, you have reached the end of the result set.
                        nullable: true
                    description: The pagination info associated with the response
  /v1/banks/{providerId}:
    get:
      tags:
        - Bank
      summary: Get Bank
      description: Retrieves detailed information about a specific bank provider using its Monime-assigned provider ID.
      operationId: GetBank
      parameters:
        - name: providerId
          in: path
          description: Unique provider ID for the bank as assigned by Monime.
          required: true
          schema:
            type: string
            description: Unique provider ID for the bank as assigned by Monime.
        - name: Monime-Version
          in: header
          description: Specifies which version of the Monime API will handle this request.
          schema:
            enum:
              - caph.2025-08-23
              - caph.2025-06-20
            type: string
            description: Specifies which version of the Monime API will handle this request.
            nullable: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: Represents the status of the query operation, confirming if it was successful. This field is always true
                  messages:
                    type: array
                    items: { }
                    description: Contains a list of messages providing relevant information or feedback related to the query or operation
                  result:
                    $ref: "#/components/schemas/Bank"
  /v1/checkout-sessions:
    get:
      tags:
        - Checkout Session
      summary: List Checkout Sessions
      description: Retrieves list of checkout sessions.
      operationId: ListCheckoutSessions
      parameters:
        - name: limit
          in: query
          description: Maximum number of items to return in a single page. Must be between 1 and 50. Defaults to 10 if not specified.
          schema:
            maximum: 50
            minimum: 1
            type: integer
            description: Maximum number of items to return in a single page. Must be between 1 and 50. Defaults to 10 if not specified.
            default: 10
        - name: after
          in: query
          description: Pagination cursor for fetching the next page of results. Set this to the 'next' cursor value from a previous response to continue paginating forward.
          schema:
            maxLength: 2000
            type: string
            description: Pagination cursor for fetching the next page of results. Set this to the 'next' cursor value from a previous response to continue paginating forward.
            nullable: true
        - name: Monime-Version
          in: header
          description: Specifies which version of the Monime API will handle this request.
          schema:
            enum:
              - caph.2025-08-23
              - caph.2025-06-20
            type: string
            description: Specifies which version of the Monime API will handle this request.
            nullable: true
        - name: Monime-Space-Id
          in: header
          description: The value is the tenancy parameter that Monime uses to determine which space the request is intended for.
          required: true
          schema:
            maxLength: 64
            pattern: ^spc-.*$
            type: string
            description: The value is the tenancy parameter that Monime uses to determine which space the request is intended for.
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: Represents the status of the query operation, confirming if it was successful. This field is always true
                  messages:
                    type: array
                    items: { }
                    description: Contains a list of messages providing relevant information or feedback related to the query or operation
                  result:
                    type: array
                    items:
                      $ref: "#/components/schemas/CheckoutSession"
                    description: The list of items in the response
                    nullable: true
                  pagination:
                    type: object
                    properties:
                      count:
                        type: integer
                        description: Number of items returned in the current page.
                      next:
                        type: string
                        description: Cursor pointing to the next page of results. Use this value as the 'after' query parameter in your next request to fetch the following page. If null, you have reached the end of the result set.
                        nullable: true
                    description: The pagination info associated with the response
    post:
      tags:
        - Checkout Session
      summary: Create Checkout Session
      description: Creates a new checkout session to initiate a user payment experience.
      operationId: CreateCheckoutSession
      parameters:
        - name: Idempotency-Key
          in: header
          description: This header is used to uniquely identify a logical request, ensuring that it is not processed more than once during retries.
          required: true
          schema:
            maxLength: 64
            type: string
            description: This header is used to uniquely identify a logical request, ensuring that it is not processed more than once during retries.
        - name: Monime-Version
          in: header
          description: Specifies which version of the Monime API will handle this request.
          schema:
            enum:
              - caph.2025-08-23
              - caph.2025-06-20
            type: string
            description: Specifies which version of the Monime API will handle this request.
            nullable: true
        - name: Monime-Space-Id
          in: header
          description: The value is the tenancy parameter that Monime uses to determine which space the request is intended for.
          required: true
          schema:
            maxLength: 64
            pattern: ^spc-.*$
            type: string
            description: The value is the tenancy parameter that Monime uses to determine which space the request is intended for.
      requestBody:
        content:
          application/json:
            schema:
              title: CreateCheckoutSession
              required:
                - name
                - lineItems
              type: object
              properties:
                name:
                  maxLength: 150
                  type: string
                  description: Title or label for the checkout session. Used for display in customer-facing UIs.
                description:
                  maxLength: 1000
                  type: string
                  description: Optional long-form description explaining the purpose or context of the checkout session.
                  nullable: true
                cancelUrl:
                  maxLength: 255
                  type: string
                  description: The URL to redirect the customer to if they cancel the checkout process before completing payment. This typically returns the user to your site or app with context about the cancellation.
                  format: url
                successUrl:
                  maxLength: 255
                  type: string
                  description: The URL to redirect the customer to after successfully completing the checkout. Typically used to confirm the order or show a success message on your site or app.
                  format: url
                callbackState:
                  maxLength: 255
                  type: string
                  description: Opaque value sent back via callback for correlating the session. Never exposed in read APIs.
                  nullable: true
                reference:
                  maxLength: 255
                  type: string
                  description: Optional external reference identifier (e.g., order ID) used to link this session with the developer’s backend system.
                  nullable: true
                financialAccountId:
                  maxLength: 100
                  type: string
                  description: Financial account where collected funds are settled. Defaults to the main account if omitted.
                  nullable: true
                lineItems:
                  maxItems: 16
                  minItems: 1
                  type: array
                  items:
                    type: object
                    oneOf:
                      - title: Custom Item (User Defined)
                        required:
                          - name
                          - price
                        type: object
                        properties:
                          type:
                            enum:
                              - custom
                            type: string
                            description: Type of line item. This must be set to 'custom'.
                          id:
                            type: string
                            description: Unique internal identifier for this line item. This is generated by the system and cannot be provided by the user. Unique across all checkout sessions.
                            readOnly: true
                          name:
                            maxLength: 100
                            type: string
                            description: Name of the product or service represented by this line item.
                          price:
                            type: object
                            properties:
                              currency:
                                type: string
                                description: "The [3-letter](https://en.wikipedia.org/wiki/ISO_4217) ISO currency code. Currently supported: 'SLE', 'USD'"
                              value:
                                type: integer
                                description: The value representation in the currency's minor unit. E.g. For 1 Leone (SLE 1), the value should be 100, denoting cents, the minor unit.
                            additionalProperties: false
                            description: Monetary value representing the price per unit of this item.
                          quantity:
                            maximum: 100000
                            minimum: 1
                            type: integer
                            description: Number of units being purchased. Must be between 1 and 100,000.
                            default: 1
                          reference:
                            maxLength: 100
                            type: string
                            description: External system-provided identifier for this line item, used for cross-system tracking, reconciliation, or referencing purposes. Must be unique within the checkout session. If not provided, a unique identifier will be generated.
                            nullable: true
                          description:
                            maxLength: 100
                            type: string
                            description: Optional description providing additional details about the item.
                            nullable: true
                          images:
                            maxItems: 3
                            uniqueItems: true
                            type: array
                            items:
                              type: string
                              description: A URL
                            description: Up to 3 image URLs visually representing this item.
                            nullable: true
                        additionalProperties: false
                        description: A user-defined line item with specified name, quantity, and price.
                    properties:
                      type:
                        enum:
                          - custom
                        type: string
                        default: custom
                  description: List of items to be displayed and charged in the session. Must include at least one item.
                  nullable: true
                paymentOptions:
                  title: PaymentOptions
                  type: object
                  properties:
                    card:
                      type: object
                      properties:
                        disable:
                          type: boolean
                          description: When true, card-based payment options will be hidden or disabled during checkout.
                          default: false
                      additionalProperties: false
                      description: Settings for card-based payments. Allows disabling the card method entirely.
                    bank:
                      type: object
                      properties:
                        disable:
                          type: boolean
                          description: When true, bank-based payment options will be hidden or disabled during checkout.
                          default: false
                        enabledProviders:
                          uniqueItems: true
                          type: array
                          items:
                            enum:
                              - slb001
                              - slb004
                              - slb007
                            type: string
                            description: The ID of the bank as identified by Monime. E.g. slb001 to denote SLCB
                          description: Bank providers to explicitly allow for this session. Takes precedence over 'disabledProviders'.
                          nullable: true
                        disabledProviders:
                          uniqueItems: true
                          type: array
                          items:
                            enum:
                              - slb001
                              - slb004
                              - slb007
                            type: string
                            description: The ID of the bank as identified by Monime. E.g. slb001 to denote SLCB
                          description: If set, these bank providers will be excluded from this session.  If a provider is in both enabled and disabled lists, it will be allowed.
                          nullable: true
                      additionalProperties: false
                      description: Settings for bank payments. You can restrict which bank providers are available or excluded.
                    momo:
                      type: object
                      properties:
                        disable:
                          type: boolean
                          description: When true, mobile money (MoMo) options will be hidden or disabled during checkout.
                          default: false
                        enabledProviders:
                          uniqueItems: true
                          type: array
                          items:
                            enum:
                              - m17
                              - m18
                            type: string
                            description: The ID of the MOMO as identified by Monime. E.g. m17 to denote Orange Money SL
                          description: MoMo providers to explicitly allow for this session. Takes precedence over 'disabledProviders'.
                          nullable: true
                        disabledProviders:
                          uniqueItems: true
                          type: array
                          items:
                            enum:
                              - m17
                              - m18
                            type: string
                            description: The ID of the MOMO as identified by Monime. E.g. m17 to denote Orange Money SL
                          description: MoMo providers to exclude from this session. If a provider is in both enabled and disabled lists, it will be allowed.
                          nullable: true
                      additionalProperties: false
                      description: Settings for mobile money payments. Customize which MoMo providers are shown at checkout.
                    wallet:
                      type: object
                      properties:
                        disable:
                          type: boolean
                          description: When true, wallet-based payment options will be hidden or disabled during checkout.
                          default: false
                        enabledProviders:
                          uniqueItems: true
                          type: array
                          items:
                            enum:
                              - dw001
                            type: string
                            description: The ID of the digital wallet as identified by Monime. E.g. dw001 to denote SafulPay
                          description: Wallet providers to explicitly allow for this session. Takes precedence over 'disabledProviders'.
                          nullable: true
                        disabledProviders:
                          uniqueItems: true
                          type: array
                          items:
                            enum:
                              - dw001
                            type: string
                            description: The ID of the digital wallet as identified by Monime. E.g. dw001 to denote SafulPay
                          description: Wallet providers to exclude from this session. If a provider is in both enabled and disabled lists, it will be allowed.
                          nullable: true
                      additionalProperties: false
                      description: Settings for wallet-based payments. Control whether wallets are available and which ones.
                  additionalProperties: false
                  description: "**Payment method configuration** that controls which payment options (e.g., Banks, Cards, MOMO, Wallets) are enabled or restricted during checkout."
                  nullable: true
                brandingOptions:
                  type: object
                  properties:
                    primaryColor:
                      maxLength: 255
                      type: string
                      description: "Primary brand color in hex format (e.g., '#00FF00') used to customize the appearance of the checkout interface."
                  additionalProperties: false
                  description: Visual customization options for the checkout UI, such as color schemes or logos.
                  nullable: true
                metadata:
                  maxProperties: 64
                  type: object
                  description: Key-value pairs for attaching contextual metadata.
                  nullable: true
              additionalProperties: false
              description: Creates a new checkout session to initiate a user payment experience.
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: Represents the status of the query operation, confirming if it was successful. This field is always true
                  messages:
                    type: array
                    items: { }
                    description: Contains a list of messages providing relevant information or feedback related to the query or operation
                  result:
                    $ref: "#/components/schemas/CheckoutSession"
  /v1/checkout-sessions/{id}:
    delete:
      tags:
        - Checkout Session
      summary: Delete Checkout Session
      description: Deletes a checkout session. This operation is only allowed if the session has not yet been initiated by the user.
      operationId: DeleteCheckoutSession
      parameters:
        - name: id
          in: path
          description: ID of the checkout session to delete.
          required: true
          schema:
            type: string
            description: ID of the checkout session to delete.
        - name: Monime-Version
          in: header
          description: Specifies which version of the Monime API will handle this request.
          schema:
            enum:
              - caph.2025-08-23
              - caph.2025-06-20
            type: string
            description: Specifies which version of the Monime API will handle this request.
            nullable: true
        - name: Monime-Space-Id
          in: header
          description: The value is the tenancy parameter that Monime uses to determine which space the request is intended for.
          required: true
          schema:
            maxLength: 64
            pattern: ^spc-.*$
            type: string
            description: The value is the tenancy parameter that Monime uses to determine which space the request is intended for.
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: Represents the status of the query operation, confirming if it was successful. This field is always true
                  messages:
                    type: array
                    items: { }
                    description: Contains a list of messages providing relevant information or feedback related to the query or operation
    get:
      tags:
        - Checkout Session
      summary: Get Checkout Session
      description: Retrieves the full details of a checkout session by ID.
      operationId: GetCheckoutSession
      parameters:
        - name: id
          in: path
          description: ID of the checkout session to retrieve.
          required: true
          schema:
            type: string
            description: ID of the checkout session to retrieve.
        - name: Monime-Version
          in: header
          description: Specifies which version of the Monime API will handle this request.
          schema:
            enum:
              - caph.2025-08-23
              - caph.2025-06-20
            type: string
            description: Specifies which version of the Monime API will handle this request.
            nullable: true
        - name: Monime-Space-Id
          in: header
          description: The value is the tenancy parameter that Monime uses to determine which space the request is intended for.
          required: true
          schema:
            maxLength: 64
            pattern: ^spc-.*$
            type: string
            description: The value is the tenancy parameter that Monime uses to determine which space the request is intended for.
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: Represents the status of the query operation, confirming if it was successful. This field is always true
                  messages:
                    type: array
                    items: { }
                    description: Contains a list of messages providing relevant information or feedback related to the query or operation
                  result:
                    $ref: "#/components/schemas/CheckoutSession"
  /v1/countries:
    get:
      tags:
        - Country
      summary: List Countries
      description: Retrieves a list of supported countries available in the Monime platform. Useful for onboarding flows, address validation, or region-based payment configurations.
      operationId: ListCountries
      parameters:
        - name: limit
          in: query
          description: Maximum number of items to return in a single page. Must be between 1 and 50. Defaults to 10 if not specified.
          schema:
            maximum: 50
            minimum: 1
            type: integer
            description: Maximum number of items to return in a single page. Must be between 1 and 50. Defaults to 10 if not specified.
            default: 10
        - name: after
          in: query
          description: Pagination cursor for fetching the next page of results. Set this to the 'next' cursor value from a previous response to continue paginating forward.
          schema:
            maxLength: 2000
            type: string
            description: Pagination cursor for fetching the next page of results. Set this to the 'next' cursor value from a previous response to continue paginating forward.
            nullable: true
        - name: Monime-Version
          in: header
          description: Specifies which version of the Monime API will handle this request.
          schema:
            enum:
              - caph.2025-08-23
              - caph.2025-06-20
            type: string
            description: Specifies which version of the Monime API will handle this request.
            nullable: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: Represents the status of the query operation, confirming if it was successful. This field is always true
                  messages:
                    type: array
                    items: { }
                    description: Contains a list of messages providing relevant information or feedback related to the query or operation
                  result:
                    type: array
                    items:
                      $ref: "#/components/schemas/Country"
                    description: The list of items in the response
                    nullable: true
                  pagination:
                    type: object
                    properties:
                      count:
                        type: integer
                        description: Number of items returned in the current page.
                      next:
                        type: string
                        description: Cursor pointing to the next page of results. Use this value as the 'after' query parameter in your next request to fetch the following page. If null, you have reached the end of the result set.
                        nullable: true
                    description: The pagination info associated with the response
  /v1/countries/{countryCode}:
    get:
      tags:
        - Country
      summary: Get Country
      description: Retrieves detailed information about a specific country, including its ISO code, name, currencies, and any supported capabilities on the Monime platform.
      operationId: GetCountry
      parameters:
        - name: countryCode
          in: path
          description: The ISO 3166-1 alpha-2 country code.
          required: true
          schema:
            type: string
            description: The ISO 3166-1 alpha-2 country code.
            example: SL
        - name: Monime-Version
          in: header
          description: Specifies which version of the Monime API will handle this request.
          schema:
            enum:
              - caph.2025-08-23
              - caph.2025-06-20
            type: string
            description: Specifies which version of the Monime API will handle this request.
            nullable: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: Represents the status of the query operation, confirming if it was successful. This field is always true
                  messages:
                    type: array
                    items: { }
                    description: Contains a list of messages providing relevant information or feedback related to the query or operation
                  result:
                    $ref: "#/components/schemas/Country"
  /v1/financial-accounts:
    get:
      tags:
        - Financial Account
      summary: List Financial Accounts
      description: Retrieves list of financial accounts.
      operationId: ListFinancialAccounts
      parameters:
        - name: uvan
          in: query
          description: Filter by Universal Virtual Account Number (UVAN), a unique alias for the financial account.
          schema:
            maxLength: 16
            type: string
            description: Filter by Universal Virtual Account Number (UVAN), a unique alias for the financial account.
            nullable: true
        - name: reference
          in: query
          description: Filter by external reference ID used to link the account with your internal system.
          schema:
            maxLength: 64
            type: string
            description: Filter by external reference ID used to link the account with your internal system.
            nullable: true
        - name: withBalance
          in: query
          description: If true, includes the balance of the financial accounts in the response.
          schema:
            type: boolean
            description: If true, includes the balance of the financial accounts in the response.
        - name: limit
          in: query
          description: Maximum number of items to return in a single page. Must be between 1 and 50. Defaults to 10 if not specified.
          schema:
            maximum: 50
            minimum: 1
            type: integer
            description: Maximum number of items to return in a single page. Must be between 1 and 50. Defaults to 10 if not specified.
            default: 10
        - name: after
          in: query
          description: Pagination cursor for fetching the next page of results. Set this to the 'next' cursor value from a previous response to continue paginating forward.
          schema:
            maxLength: 2000
            type: string
            description: Pagination cursor for fetching the next page of results. Set this to the 'next' cursor value from a previous response to continue paginating forward.
            nullable: true
        - name: Monime-Space-Id
          in: header
          description: The value is the tenancy parameter that Monime uses to determine which space the request is intended for.
          required: true
          schema:
            maxLength: 64
            pattern: ^spc-.*$
            type: string
            description: The value is the tenancy parameter that Monime uses to determine which space the request is intended for.
        - name: Monime-Version
          in: header
          description: Specifies which version of the Monime API will handle this request.
          schema:
            enum:
              - caph.2025-08-23
              - caph.2025-06-20
            type: string
            description: Specifies which version of the Monime API will handle this request.
            nullable: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: Represents the status of the query operation, confirming if it was successful. This field is always true
                  messages:
                    type: array
                    items: { }
                    description: Contains a list of messages providing relevant information or feedback related to the query or operation
                  result:
                    type: array
                    items:
                      $ref: "#/components/schemas/FinancialAccount"
                    description: The list of items in the response
                    nullable: true
                  pagination:
                    type: object
                    properties:
                      count:
                        type: integer
                        description: Number of items returned in the current page.
                      next:
                        type: string
                        description: Cursor pointing to the next page of results. Use this value as the 'after' query parameter in your next request to fetch the following page. If null, you have reached the end of the result set.
                        nullable: true
                    description: The pagination info associated with the response
    post:
      tags:
        - Financial Account
      summary: Create Financial Account
      description: Creates a new financial account for holding or managing funds within a Space.
      operationId: CreateFinancialAccount
      parameters:
        - name: Idempotency-Key
          in: header
          description: This header is used to uniquely identify a logical request, ensuring that it is not processed more than once during retries.
          required: true
          schema:
            maxLength: 64
            type: string
            description: This header is used to uniquely identify a logical request, ensuring that it is not processed more than once during retries.
        - name: Monime-Version
          in: header
          description: Specifies which version of the Monime API will handle this request.
          schema:
            enum:
              - caph.2025-08-23
              - caph.2025-06-20
            type: string
            description: Specifies which version of the Monime API will handle this request.
            nullable: true
        - name: Monime-Space-Id
          in: header
          description: The value is the tenancy parameter that Monime uses to determine which space the request is intended for.
          required: true
          schema:
            maxLength: 64
            pattern: ^spc-.*$
            type: string
            description: The value is the tenancy parameter that Monime uses to determine which space the request is intended for.
      requestBody:
        content:
          application/json:
            schema:
              title: CreateFinancialAccount
              required:
                - name
                - currency
              type: object
              properties:
                name:
                  maxLength: 100
                  type: string
                  description: Label for the financial account, e.g., 'Main Wallet' or 'Reserved Account'.
                currency:
                  type: string
                  description: ISO 4217 currency code (e.g., 'SLE', 'USD') indicating the account's currency.
                reference:
                  maxLength: 64
                  type: string
                  description: Optional external reference ID for this account. Must be unique across financial accounts in the same Space.
                  nullable: true
                description:
                  maxLength: 150
                  type: string
                  description: Optional note about the account’s usage or purpose.
                  nullable: true
                metadata:
                  maxProperties: 64
                  type: object
                  description: Updated metadata for storing additional context about the account.
                  nullable: true
              additionalProperties: false
              description: Creates a new financial account for holding or managing funds within a Space.
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: Represents the status of the query operation, confirming if it was successful. This field is always true
                  messages:
                    type: array
                    items: { }
                    description: Contains a list of messages providing relevant information or feedback related to the query or operation
                  result:
                    $ref: "#/components/schemas/FinancialAccount"
  /v1/financial-accounts/{id}:
    get:
      tags:
        - Financial Account
      summary: Get Financial Account
      description: Retrieves details of a financial account by its ID.
      operationId: GetFinancialAccount
      parameters:
        - name: withBalance
          in: query
          description: If true, includes the balance of the financial account in the response.
          schema:
            type: boolean
            description: If true, includes the balance of the financial account in the response.
        - name: id
          in: path
          description: Unique identifier of the financial account to retrieve.
          required: true
          schema:
            pattern: ^fac-.*$
            type: string
            description: Unique identifier of the financial account to retrieve.
        - name: Monime-Version
          in: header
          description: Specifies which version of the Monime API will handle this request.
          schema:
            enum:
              - caph.2025-08-23
              - caph.2025-06-20
            type: string
            description: Specifies which version of the Monime API will handle this request.
            nullable: true
        - name: Monime-Space-Id
          in: header
          description: The value is the tenancy parameter that Monime uses to determine which space the request is intended for.
          required: true
          schema:
            maxLength: 64
            pattern: ^spc-.*$
            type: string
            description: The value is the tenancy parameter that Monime uses to determine which space the request is intended for.
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: Represents the status of the query operation, confirming if it was successful. This field is always true
                  messages:
                    type: array
                    items: { }
                    description: Contains a list of messages providing relevant information or feedback related to the query or operation
                  result:
                    $ref: "#/components/schemas/FinancialAccount"
    patch:
      tags:
        - Financial Account
      summary: Update Financial Account
      description: Partially updates a financial account. Fields not included in the request body remain unchanged.
      operationId: UpdateFinancialAccount
      parameters:
        - name: id
          in: path
          description: The ID of the financial account to update.
          required: true
          schema:
            pattern: ^fac-.*$
            type: string
            description: The ID of the financial account to update.
        - name: Monime-Version
          in: header
          description: Specifies which version of the Monime API will handle this request.
          schema:
            enum:
              - caph.2025-08-23
              - caph.2025-06-20
            type: string
            description: Specifies which version of the Monime API will handle this request.
            nullable: true
        - name: Monime-Space-Id
          in: header
          description: The value is the tenancy parameter that Monime uses to determine which space the request is intended for.
          required: true
          schema:
            maxLength: 64
            pattern: ^spc-.*$
            type: string
            description: The value is the tenancy parameter that Monime uses to determine which space the request is intended for.
      requestBody:
        content:
          application/json:
            schema:
              title: UpdateFinancialAccount
              type: object
              properties:
                name:
                  maxLength: 100
                  type: string
                  description: Updated label for the financial account.
                  nullable: true
                reference:
                  maxLength: 64
                  type: string
                  description: Updated external reference ID. Must be unique across accounts.
                  nullable: true
                description:
                  maxLength: 150
                  type: string
                  description: Updated description of the account's purpose.
                  nullable: true
                metadata:
                  maxProperties: 64
                  type: object
                  description: Updated metadata for storing additional context about the account.
                  nullable: true
              additionalProperties: false
              description: Partially updates a financial account. Fields not included in the request body remain unchanged.
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: Represents the status of the query operation, confirming if it was successful. This field is always true
                  messages:
                    type: array
                    items: { }
                    description: Contains a list of messages providing relevant information or feedback related to the query or operation
                  result:
                    $ref: "#/components/schemas/FinancialAccount"
  /v1/financial-transactions:
    get:
      tags:
        - Financial Transaction
      summary: List Financial Transactions
      description: Retrieves a list of financial transactions.
      operationId: ListFinancialTransactions
      parameters:
        - name: financialAccountId
          in: query
          description: Filter transactions involving the specified financial account ID.
          schema:
            type: string
            description: Filter transactions involving the specified financial account ID.
            nullable: true
        - name: reference
          in: query
          description: Filter by Monime-assigned transaction reference. Useful for retrieving all transactions grouped under the same reference identifier.
          schema:
            type: string
            description: Filter by Monime-assigned transaction reference. Useful for retrieving all transactions grouped under the same reference identifier.
            nullable: true
        - name: type
          in: query
          description: "Filter transactions by type: 'credit' for incoming funds or 'debit' for outgoing ones."
          schema:
            enum:
              - credit
              - debit
            type: string
            description: "Filter transactions by type: 'credit' for incoming funds or 'debit' for outgoing ones."
            nullable: true
        - name: limit
          in: query
          description: Maximum number of items to return in a single page. Must be between 1 and 50. Defaults to 10 if not specified.
          schema:
            maximum: 50
            minimum: 1
            type: integer
            description: Maximum number of items to return in a single page. Must be between 1 and 50. Defaults to 10 if not specified.
            default: 10
        - name: after
          in: query
          description: Pagination cursor for fetching the next page of results. Set this to the 'next' cursor value from a previous response to continue paginating forward.
          schema:
            maxLength: 2000
            type: string
            description: Pagination cursor for fetching the next page of results. Set this to the 'next' cursor value from a previous response to continue paginating forward.
            nullable: true
        - name: Monime-Space-Id
          in: header
          description: The value is the tenancy parameter that Monime uses to determine which space the request is intended for.
          required: true
          schema:
            maxLength: 64
            pattern: ^spc-.*$
            type: string
            description: The value is the tenancy parameter that Monime uses to determine which space the request is intended for.
        - name: Monime-Version
          in: header
          description: Specifies which version of the Monime API will handle this request.
          schema:
            enum:
              - caph.2025-08-23
              - caph.2025-06-20
            type: string
            description: Specifies which version of the Monime API will handle this request.
            nullable: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: Represents the status of the query operation, confirming if it was successful. This field is always true
                  messages:
                    type: array
                    items: { }
                    description: Contains a list of messages providing relevant information or feedback related to the query or operation
                  result:
                    type: array
                    items:
                      $ref: "#/components/schemas/FinancialTransaction"
                    description: The list of items in the response
                    nullable: true
                  pagination:
                    type: object
                    properties:
                      count:
                        type: integer
                        description: Number of items returned in the current page.
                      next:
                        type: string
                        description: Cursor pointing to the next page of results. Use this value as the 'after' query parameter in your next request to fetch the following page. If null, you have reached the end of the result set.
                        nullable: true
                    description: The pagination info associated with the response
  /v1/financial-transactions/{id}:
    get:
      tags:
        - Financial Transaction
      summary: Get Financial Transaction
      description: Retrieves the details of a financial transaction, including its type, amount, source account, and ownership trace.
      operationId: GetTransaction
      parameters:
        - name: id
          in: path
          description: Unique identifier of the financial transaction to retrieve.
          required: true
          schema:
            pattern: ^txn-.*$
            type: string
            description: Unique identifier of the financial transaction to retrieve.
        - name: Monime-Version
          in: header
          description: Specifies which version of the Monime API will handle this request.
          schema:
            enum:
              - caph.2025-08-23
              - caph.2025-06-20
            type: string
            description: Specifies which version of the Monime API will handle this request.
            nullable: true
        - name: Monime-Space-Id
          in: header
          description: The value is the tenancy parameter that Monime uses to determine which space the request is intended for.
          required: true
          schema:
            maxLength: 64
            pattern: ^spc-.*$
            type: string
            description: The value is the tenancy parameter that Monime uses to determine which space the request is intended for.
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: Represents the status of the query operation, confirming if it was successful. This field is always true
                  messages:
                    type: array
                    items: { }
                    description: Contains a list of messages providing relevant information or feedback related to the query or operation
                  result:
                    $ref: "#/components/schemas/FinancialTransaction"
  /v1/internal-transfers:
    get:
      tags:
        - Internal Transfer
      summary: List Internal Transfers
      description: Retrieves a list of internal fund transfers between financial accounts within the Monime ecosystem.
      operationId: ListInternalTransfers
      parameters:
        - name: status
          in: query
          description: "Filters transfers by status: 'pending' (awaiting processing), 'processing' (in progress), 'failed' (attempt unsuccessful), or 'completed' (successfully transferred)."
          schema:
            enum:
              - pending
              - processing
              - failed
              - completed
            type: string
            description: "Filters transfers by status: 'pending' (awaiting processing), 'processing' (in progress), 'failed' (attempt unsuccessful), or 'completed' (successfully transferred)."
            nullable: true
        - name: sourceFinancialAccountId
          in: query
          description: Source financial account ID. Filters results to transfers originating from this account.
          schema:
            type: string
            description: Source financial account ID. Filters results to transfers originating from this account.
            nullable: true
        - name: destinationFinancialAccountId
          in: query
          description: Destination financial account ID. Filters results to transfers credited to this account.
          schema:
            type: string
            description: Destination financial account ID. Filters results to transfers credited to this account.
            nullable: true
        - name: financialTransactionReference
          in: query
          description: Financial transaction reference. Filters results to transfers with this transaction reference. Useful for correlation with underlying financial transactions.
          schema:
            type: string
            description: Financial transaction reference. Filters results to transfers with this transaction reference. Useful for correlation with underlying financial transactions.
            nullable: true
        - name: limit
          in: query
          description: Maximum number of items to return in a single page. Must be between 1 and 50. Defaults to 10 if not specified.
          schema:
            maximum: 50
            minimum: 1
            type: integer
            description: Maximum number of items to return in a single page. Must be between 1 and 50. Defaults to 10 if not specified.
            default: 10
        - name: after
          in: query
          description: Pagination cursor for fetching the next page of results. Set this to the 'next' cursor value from a previous response to continue paginating forward.
          schema:
            maxLength: 2000
            type: string
            description: Pagination cursor for fetching the next page of results. Set this to the 'next' cursor value from a previous response to continue paginating forward.
            nullable: true
        - name: Monime-Space-Id
          in: header
          description: The value is the tenancy parameter that Monime uses to determine which space the request is intended for.
          required: true
          schema:
            maxLength: 64
            pattern: ^spc-.*$
            type: string
            description: The value is the tenancy parameter that Monime uses to determine which space the request is intended for.
        - name: Monime-Version
          in: header
          description: Specifies which version of the Monime API will handle this request.
          schema:
            enum:
              - caph.2025-08-23
              - caph.2025-06-20
            type: string
            description: Specifies which version of the Monime API will handle this request.
            nullable: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: Represents the status of the query operation, confirming if it was successful. This field is always true
                  messages:
                    type: array
                    items: { }
                    description: Contains a list of messages providing relevant information or feedback related to the query or operation
                  result:
                    type: array
                    items:
                      $ref: "#/components/schemas/InternalTransfer"
                    description: The list of items in the response
                    nullable: true
                  pagination:
                    type: object
                    properties:
                      count:
                        type: integer
                        description: Number of items returned in the current page.
                      next:
                        type: string
                        description: Cursor pointing to the next page of results. Use this value as the 'after' query parameter in your next request to fetch the following page. If null, you have reached the end of the result set.
                        nullable: true
                    description: The pagination info associated with the response
    post:
      tags:
        - Internal Transfer
      summary: Create Internal Transfer
      description: Initiates a transfer of funds between two financial accounts within the same ecosystem.
      operationId: CreateInternalTransfer
      parameters:
        - name: Idempotency-Key
          in: header
          description: This header is used to uniquely identify a logical request, ensuring that it is not processed more than once during retries.
          required: true
          schema:
            maxLength: 64
            type: string
            description: This header is used to uniquely identify a logical request, ensuring that it is not processed more than once during retries.
        - name: Monime-Version
          in: header
          description: Specifies which version of the Monime API will handle this request.
          schema:
            enum:
              - caph.2025-08-23
              - caph.2025-06-20
            type: string
            description: Specifies which version of the Monime API will handle this request.
            nullable: true
        - name: Monime-Space-Id
          in: header
          description: The value is the tenancy parameter that Monime uses to determine which space the request is intended for.
          required: true
          schema:
            maxLength: 64
            pattern: ^spc-.*$
            type: string
            description: The value is the tenancy parameter that Monime uses to determine which space the request is intended for.
      requestBody:
        content:
          application/json:
            schema:
              title: CreateInternalTransfer
              required:
                - amount
                - sourceFinancialAccount
                - destinationFinancialAccount
              type: object
              properties:
                amount:
                  type: object
                  properties:
                    currency:
                      type: string
                      description: "The [3-letter](https://en.wikipedia.org/wiki/ISO_4217) ISO currency code. Currently supported: 'SLE', 'USD'"
                    value:
                      type: integer
                      description: The value representation in the currency's minor unit. E.g. For 1 Leone (SLE 1), the value should be 100, denoting cents, the minor unit.
                  additionalProperties: false
                  description: Amount to be transferred from the source to the destination financial account.
                sourceFinancialAccount:
                  required:
                    - id
                  type: object
                  properties:
                    id:
                      maxLength: 64
                      type: string
                      description: ID of the source financial account that will be debited.
                  description: Source financial account from which the funds will be withdrawn.
                destinationFinancialAccount:
                  required:
                    - id
                  type: object
                  properties:
                    id:
                      maxLength: 64
                      type: string
                      description: ID of the destination financial account that will be credited.
                  description: Destination financial account where the funds will be deposited.
                description:
                  maxLength: 150
                  type: string
                  description: Optional description of the transfer. Useful for developer context, logging, or internal references.
                  nullable: true
                metadata:
                  maxProperties: 64
                  type: object
                  description: Custom metadata for attaching structured context or developer-defined identifiers.
                  nullable: true
              additionalProperties: false
              description: Initiates a transfer of funds between two financial accounts within the same ecosystem.
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: Represents the status of the query operation, confirming if it was successful. This field is always true
                  messages:
                    type: array
                    items: { }
                    description: Contains a list of messages providing relevant information or feedback related to the query or operation
                  result:
                    $ref: "#/components/schemas/InternalTransfer"
  /v1/internal-transfers/{id}:
    delete:
      tags:
        - Internal Transfer
      summary: Delete Internal Transfer
      description: Deletes a specific transfer object by its ID. Only applicable for transfers in a deletable state (e.g., pending).
      operationId: DeleteInternalTransfer
      parameters:
        - name: id
          in: path
          description: Unique identifier of the transfer to delete.
          required: true
          schema:
            pattern: ^trn-.*$
            type: string
            description: Unique identifier of the transfer to delete.
        - name: Monime-Version
          in: header
          description: Specifies which version of the Monime API will handle this request.
          schema:
            enum:
              - caph.2025-08-23
              - caph.2025-06-20
            type: string
            description: Specifies which version of the Monime API will handle this request.
            nullable: true
        - name: Monime-Space-Id
          in: header
          description: The value is the tenancy parameter that Monime uses to determine which space the request is intended for.
          required: true
          schema:
            maxLength: 64
            pattern: ^spc-.*$
            type: string
            description: The value is the tenancy parameter that Monime uses to determine which space the request is intended for.
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: Represents the status of the query operation, confirming if it was successful. This field is always true
                  messages:
                    type: array
                    items: { }
                    description: Contains a list of messages providing relevant information or feedback related to the query or operation
    get:
      tags:
        - Internal Transfer
      summary: Get Internal Transfer
      description: Retrieves detailed information about a specific transfer by its ID.
      operationId: GetInternalTransfer
      parameters:
        - name: id
          in: path
          description: Unique identifier of the transfer to retrieve.
          required: true
          schema:
            pattern: ^trn-.*$
            type: string
            description: Unique identifier of the transfer to retrieve.
        - name: Monime-Version
          in: header
          description: Specifies which version of the Monime API will handle this request.
          schema:
            enum:
              - caph.2025-08-23
              - caph.2025-06-20
            type: string
            description: Specifies which version of the Monime API will handle this request.
            nullable: true
        - name: Monime-Space-Id
          in: header
          description: The value is the tenancy parameter that Monime uses to determine which space the request is intended for.
          required: true
          schema:
            maxLength: 64
            pattern: ^spc-.*$
            type: string
            description: The value is the tenancy parameter that Monime uses to determine which space the request is intended for.
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: Represents the status of the query operation, confirming if it was successful. This field is always true
                  messages:
                    type: array
                    items: { }
                    description: Contains a list of messages providing relevant information or feedback related to the query or operation
                  result:
                    $ref: "#/components/schemas/InternalTransfer"
    patch:
      tags:
        - Internal Transfer
      summary: Update Internal Transfer
      description: Updates mutable fields (like description or metadata) of an existing transfer object.
      operationId: PatchInternalTransfer
      parameters:
        - name: id
          in: path
          description: ID of the transfer to update.
          required: true
          schema:
            type: string
            description: ID of the transfer to update.
        - name: Monime-Version
          in: header
          description: Specifies which version of the Monime API will handle this request.
          schema:
            enum:
              - caph.2025-08-23
              - caph.2025-06-20
            type: string
            description: Specifies which version of the Monime API will handle this request.
            nullable: true
        - name: Monime-Space-Id
          in: header
          description: The value is the tenancy parameter that Monime uses to determine which space the request is intended for.
          required: true
          schema:
            maxLength: 64
            pattern: ^spc-.*$
            type: string
            description: The value is the tenancy parameter that Monime uses to determine which space the request is intended for.
      requestBody:
        content:
          application/json:
            schema:
              title: PatchInternalTransfer
              type: object
              properties:
                description:
                  maxLength: 255
                  type: string
                  description: Updated description for the transfer.
                  nullable: true
                metadata:
                  maxProperties: 64
                  type: object
                  description: Updated metadata for tagging this transfer.
                  nullable: true
              additionalProperties: false
              description: Updates mutable fields (like description or metadata) of an existing transfer object.
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: Represents the status of the query operation, confirming if it was successful. This field is always true
                  messages:
                    type: array
                    items: { }
                    description: Contains a list of messages providing relevant information or feedback related to the query or operation
                  result:
                    $ref: "#/components/schemas/InternalTransfer"
  /v1/momos:
    get:
      tags:
        - Momo
      summary: List Momos
      description: Retrieves a list of supported momos available in the specified country. Useful for rendering provider selection options during user payment setup or onboarding.
      operationId: ListMomos
      parameters:
        - name: limit
          in: query
          description: Maximum number of items to return in a single page. Must be between 1 and 50. Defaults to 10 if not specified.
          schema:
            maximum: 50
            minimum: 1
            type: integer
            description: Maximum number of items to return in a single page. Must be between 1 and 50. Defaults to 10 if not specified.
            default: 10
        - name: after
          in: query
          description: Pagination cursor for fetching the next page of results. Set this to the 'next' cursor value from a previous response to continue paginating forward.
          schema:
            maxLength: 2000
            type: string
            description: Pagination cursor for fetching the next page of results. Set this to the 'next' cursor value from a previous response to continue paginating forward.
            nullable: true
        - name: country
          in: query
          description: ISO 3166-1 alpha-2 country code (e.g., 'SL', 'GH') to filter momos by region.
          required: true
          schema:
            type: string
            description: ISO 3166-1 alpha-2 country code (e.g., 'SL', 'GH') to filter momos by region.
        - name: Monime-Version
          in: header
          description: Specifies which version of the Monime API will handle this request.
          schema:
            enum:
              - caph.2025-08-23
              - caph.2025-06-20
            type: string
            description: Specifies which version of the Monime API will handle this request.
            nullable: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: Represents the status of the query operation, confirming if it was successful. This field is always true
                  messages:
                    type: array
                    items: { }
                    description: Contains a list of messages providing relevant information or feedback related to the query or operation
                  result:
                    type: array
                    items:
                      $ref: "#/components/schemas/Momo"
                    description: The list of items in the response
                    nullable: true
                  pagination:
                    type: object
                    properties:
                      count:
                        type: integer
                        description: Number of items returned in the current page.
                      next:
                        type: string
                        description: Cursor pointing to the next page of results. Use this value as the 'after' query parameter in your next request to fetch the following page. If null, you have reached the end of the result set.
                        nullable: true
                    description: The pagination info associated with the response
  /v1/momos/{providerId}:
    get:
      tags:
        - Momo
      summary: Get Momo
      description: Retrieves detailed information about a specific momo provider using its Monime-assigned provider ID.
      operationId: GetMomo
      parameters:
        - name: providerId
          in: path
          description: Unique provider ID for the momo as assigned by Monime.
          required: true
          schema:
            type: string
            description: Unique provider ID for the momo as assigned by Monime.
        - name: Monime-Version
          in: header
          description: Specifies which version of the Monime API will handle this request.
          schema:
            enum:
              - caph.2025-08-23
              - caph.2025-06-20
            type: string
            description: Specifies which version of the Monime API will handle this request.
            nullable: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: Represents the status of the query operation, confirming if it was successful. This field is always true
                  messages:
                    type: array
                    items: { }
                    description: Contains a list of messages providing relevant information or feedback related to the query or operation
                  result:
                    $ref: "#/components/schemas/Momo"
  /v1/payment-codes:
    get:
      tags:
        - Payment Code
      summary: List Payment Codes
      description: Retrieves a list of payment codes with support for filtering by mode, USSD code, and status.
      operationId: ListPaymentCodes
      parameters:
        - name: ussd_code
          in: query
          description: Filter by the USSD code assigned to the payment code (if applicable).
          schema:
            type: string
            description: Filter by the USSD code assigned to the payment code (if applicable).
            nullable: true
        - name: mode
          in: query
          description: "Filter by usage mode: 'one_time' for single-use codes, or 'recurrent' for reusable ones."
          schema:
            enum:
              - one_time
              - recurrent
            type: string
            description: "Filter by usage mode: 'one_time' for single-use codes, or 'recurrent' for reusable ones."
            nullable: true
        - name: status
          in: query
          description: "Filter by payment code status: 'pending' (not yet used), 'processing' (in use), 'expired' (duration elapsed), 'cancelled' (manually cancelled), or 'completed' (fulfilled as intended)."
          schema:
            enum:
              - pending
              - cancelled
              - processing
              - expired
              - completed
            type: string
            description: "Filter by payment code status: 'pending' (not yet used), 'processing' (in use), 'expired' (duration elapsed), 'cancelled' (manually cancelled), or 'completed' (fulfilled as intended)."
            nullable: true
        - name: limit
          in: query
          description: Maximum number of items to return in a single page. Must be between 1 and 50. Defaults to 10 if not specified.
          schema:
            maximum: 50
            minimum: 1
            type: integer
            description: Maximum number of items to return in a single page. Must be between 1 and 50. Defaults to 10 if not specified.
            default: 10
        - name: after
          in: query
          description: Pagination cursor for fetching the next page of results. Set this to the 'next' cursor value from a previous response to continue paginating forward.
          schema:
            maxLength: 2000
            type: string
            description: Pagination cursor for fetching the next page of results. Set this to the 'next' cursor value from a previous response to continue paginating forward.
            nullable: true
        - name: Monime-Space-Id
          in: header
          description: The value is the tenancy parameter that Monime uses to determine which space the request is intended for.
          required: true
          schema:
            maxLength: 64
            pattern: ^spc-.*$
            type: string
            description: The value is the tenancy parameter that Monime uses to determine which space the request is intended for.
        - name: Monime-Version
          in: header
          description: Specifies which version of the Monime API will handle this request.
          schema:
            enum:
              - caph.2025-08-23
              - caph.2025-06-20
            type: string
            description: Specifies which version of the Monime API will handle this request.
            nullable: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: Represents the status of the query operation, confirming if it was successful. This field is always true
                  messages:
                    type: array
                    items: { }
                    description: Contains a list of messages providing relevant information or feedback related to the query or operation
                  result:
                    type: array
                    items:
                      $ref: "#/components/schemas/PaymentCode"
                    description: The list of items in the response
                    nullable: true
                  pagination:
                    type: object
                    properties:
                      count:
                        type: integer
                        description: Number of items returned in the current page.
                      next:
                        type: string
                        description: Cursor pointing to the next page of results. Use this value as the 'after' query parameter in your next request to fetch the following page. If null, you have reached the end of the result set.
                        nullable: true
                    description: The pagination info associated with the response
    post:
      tags:
        - Payment Code
      summary: Create Payment Code
      description: Creates a new payment code with the specified parameters for value collection and provider restrictions.
      operationId: CreatePaymentCode
      parameters:
        - name: Idempotency-Key
          in: header
          description: This header is used to uniquely identify a logical request, ensuring that it is not processed more than once during retries.
          required: true
          schema:
            maxLength: 64
            type: string
            description: This header is used to uniquely identify a logical request, ensuring that it is not processed more than once during retries.
        - name: Monime-Version
          in: header
          description: Specifies which version of the Monime API will handle this request.
          schema:
            enum:
              - caph.2025-08-23
              - caph.2025-06-20
            type: string
            description: Specifies which version of the Monime API will handle this request.
            nullable: true
        - name: Monime-Space-Id
          in: header
          description: The value is the tenancy parameter that Monime uses to determine which space the request is intended for.
          required: true
          schema:
            maxLength: 64
            pattern: ^spc-.*$
            type: string
            description: The value is the tenancy parameter that Monime uses to determine which space the request is intended for.
      requestBody:
        content:
          application/json:
            schema:
              title: CreatePaymentCode
              required:
                - name
              type: object
              properties:
                mode:
                  enum:
                    - one_time
                    - recurrent
                  type: string
                  description: Defines whether the payment code is single-use ('one_time') or reusable ('recurrent').
                  default: one_time
                name:
                  maxLength: 64
                  minLength: 3
                  type: string
                  description: Descriptive name for the payment code, used for display or tracking.
                  nullable: true
                  example: Home EDSA Meter Top-up
                enable:
                  type: boolean
                  description: Whether the payment code should be enabled for use on creation.
                  default: true
                amount:
                  type: object
                  properties:
                    currency:
                      type: string
                      description: "The [3-letter](https://en.wikipedia.org/wiki/ISO_4217) ISO currency code. Currently supported: 'SLE', 'USD'"
                    value:
                      type: integer
                      description: The value representation in the currency's minor unit. E.g. For 1 Leone (SLE 1), the value should be 100, denoting cents, the minor unit.
                  additionalProperties: false
                  description: Amount to charge per use of the payment code. For 'recurrent' codes, this applies to each payment.
                duration:
                  type: string
                  description: How long the payment code remains valid before expiring.
                  default: 10m
                  example: 1h30m
                customer:
                  type: object
                  properties:
                    name:
                      maxLength: 100
                      type: string
                      description: Optional name of the customer associated with the payment code. Displayed in the USSD prompt for contextual reference.
                      nullable: true
                      example: Musa Kamara
                  additionalProperties: false
                  description: Customer associated with the payment code, if any.
                  nullable: true
                reference:
                  maxLength: 64
                  type: string
                  description: Reference tag to associate with this payment code for reconciliation or tracking.
                  nullable: true
                authorizedProviders:
                  maxItems: 10
                  minItems: 1
                  uniqueItems: true
                  type: array
                  items:
                    enum:
                      - m17
                      - m18
                    type: string
                    description: The ID of the MOMO as identified by Monime. E.g. m17 to denote Orange Money SL
                  description: List of mobile money provider IDs permitted to process payments using this code.
                  nullable: true
                authorizedPhoneNumber:
                  type: string
                  description: MSISDN of the mobile money account exclusively allowed to use this code.
                recurrentPaymentTarget:
                  type: object
                  properties:
                    expectedPaymentCount:
                      minimum: 1
                      type: integer
                      description: Minimum expected number of payments after which the recurrent payment code may be considered complete. Optional.
                      nullable: true
                      example: 10
                    expectedPaymentTotal:
                      type: object
                      properties:
                        currency:
                          type: string
                          description: "The [3-letter](https://en.wikipedia.org/wiki/ISO_4217) ISO currency code. Currently supported: 'SLE', 'USD'"
                        value:
                          type: integer
                          description: The value representation in the currency's minor unit. E.g. For 1 Leone (SLE 1), the value should be 100, denoting cents, the minor unit.
                      additionalProperties: false
                      description: Minimum total amount to be collected before the recurrent payment code is considered complete. Optional.
                  additionalProperties: false
                  description: Defines the target number of payments or total amount for completing a recurrent code.
                  nullable: true
                financialAccountId:
                  maxLength: 64
                  pattern: ^fac-.*$
                  type: string
                  description: Financial account where collected funds are settled. Defaults to the main account if omitted.
                  nullable: true
                metadata:
                  maxProperties: 64
                  type: object
                  description: Optional metadata for attaching custom business context to the payment code.
                  nullable: true
              additionalProperties: false
              description: Creates a new payment code with the specified parameters for value collection and provider restrictions.
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: Represents the status of the query operation, confirming if it was successful. This field is always true
                  messages:
                    type: array
                    items: { }
                    description: Contains a list of messages providing relevant information or feedback related to the query or operation
                  result:
                    $ref: "#/components/schemas/PaymentCode"
  /v1/payment-codes/{id}:
    delete:
      tags:
        - Payment Code
      summary: Delete Payment Code
      description: Deletes a payment code by ID. This operation is only allowed if the code hasn't been used.
      operationId: DeletePaymentCode
      parameters:
        - name: id
          in: path
          description: Unique identifier of the payment code to delete.
          required: true
          schema:
            pattern: ^pmc-.*$
            type: string
            description: Unique identifier of the payment code to delete.
        - name: Monime-Version
          in: header
          description: Specifies which version of the Monime API will handle this request.
          schema:
            enum:
              - caph.2025-08-23
              - caph.2025-06-20
            type: string
            description: Specifies which version of the Monime API will handle this request.
            nullable: true
        - name: Monime-Space-Id
          in: header
          description: The value is the tenancy parameter that Monime uses to determine which space the request is intended for.
          required: true
          schema:
            maxLength: 64
            pattern: ^spc-.*$
            type: string
            description: The value is the tenancy parameter that Monime uses to determine which space the request is intended for.
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: Represents the status of the query operation, confirming if it was successful. This field is always true
                  messages:
                    type: array
                    items: { }
                    description: Contains a list of messages providing relevant information or feedback related to the query or operation
    get:
      tags:
        - Payment Code
      summary: Get Payment Code
      description: Retrieve a payment code object by its ID.
      operationId: GetPaymentCode
      parameters:
        - name: id
          in: path
          description: Unique identifier of the payment code to retrieve.
          required: true
          schema:
            pattern: ^pmc-.*$
            type: string
            description: Unique identifier of the payment code to retrieve.
        - name: Monime-Version
          in: header
          description: Specifies which version of the Monime API will handle this request.
          schema:
            enum:
              - caph.2025-08-23
              - caph.2025-06-20
            type: string
            description: Specifies which version of the Monime API will handle this request.
            nullable: true
        - name: Monime-Space-Id
          in: header
          description: The value is the tenancy parameter that Monime uses to determine which space the request is intended for.
          required: true
          schema:
            maxLength: 64
            pattern: ^spc-.*$
            type: string
            description: The value is the tenancy parameter that Monime uses to determine which space the request is intended for.
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: Represents the status of the query operation, confirming if it was successful. This field is always true
                  messages:
                    type: array
                    items: { }
                    description: Contains a list of messages providing relevant information or feedback related to the query or operation
                  result:
                    $ref: "#/components/schemas/PaymentCode"
    patch:
      tags:
        - Payment Code
      summary: Update Payment Code
      description: Partially updates an existing payment code with new values, rules, or account bindings.
      operationId: UpdatePaymentCode
      parameters:
        - name: id
          in: path
          description: The unique ID of the payment code to update.
          required: true
          schema:
            pattern: ^pmc-.*$
            type: string
            description: The unique ID of the payment code to update.
        - name: Monime-Version
          in: header
          description: Specifies which version of the Monime API will handle this request.
          schema:
            enum:
              - caph.2025-08-23
              - caph.2025-06-20
            type: string
            description: Specifies which version of the Monime API will handle this request.
            nullable: true
        - name: Monime-Space-Id
          in: header
          description: The value is the tenancy parameter that Monime uses to determine which space the request is intended for.
          required: true
          schema:
            maxLength: 64
            pattern: ^spc-.*$
            type: string
            description: The value is the tenancy parameter that Monime uses to determine which space the request is intended for.
      requestBody:
        content:
          application/json:
            schema:
              title: UpdatePaymentCode
              type: object
              properties:
                name:
                  maxLength: 64
                  minLength: 3
                  type: string
                  description: Updated display name or label for the payment code.
                  nullable: true
                amount:
                  type: object
                  properties:
                    currency:
                      type: string
                      description: "The [3-letter](https://en.wikipedia.org/wiki/ISO_4217) ISO currency code. Currently supported: 'SLE', 'USD'"
                    value:
                      type: integer
                      description: The value representation in the currency's minor unit. E.g. For 1 Leone (SLE 1), the value should be 100, denoting cents, the minor unit.
                  additionalProperties: false
                  description: Updated amount to charge per use.
                  nullable: true
                duration:
                  type: string
                  description: New expiration duration for the code.
                  nullable: true
                enable:
                  type: boolean
                  description: Flag to activate or deactivate the payment code.
                  nullable: true
                customer:
                  type: object
                  properties:
                    name:
                      maxLength: 100
                      type: string
                      description: Optional name of the customer associated with the payment code. Displayed in the USSD prompt for contextual reference.
                      nullable: true
                      example: Musa Kamara
                  additionalProperties: false
                  description: Updated customer information for this payment code.
                  nullable: true
                reference:
                  maxLength: 64
                  type: string
                  description: New reference string for tagging the payment code.
                  nullable: true
                authorizedProviders:
                  maxItems: 10
                  minItems: 1
                  uniqueItems: true
                  type: array
                  items:
                    enum:
                      - m17
                      - m18
                    type: string
                    description: The ID of the MOMO as identified by Monime. E.g. m17 to denote Orange Money SL
                  description: Updated list of mobile money providers allowed to use this code.
                  nullable: true
                authorizedPhoneNumber:
                  type: string
                  description: New MSISDN authorized to use this payment code exclusively.
                  nullable: true
                recurrentPaymentTarget:
                  type: object
                  properties:
                    expectedPaymentCount:
                      minimum: 1
                      type: integer
                      description: Minimum expected number of payments after which the recurrent payment code may be considered complete. Optional.
                      nullable: true
                      example: 10
                    expectedPaymentTotal:
                      type: object
                      properties:
                        currency:
                          type: string
                          description: "The [3-letter](https://en.wikipedia.org/wiki/ISO_4217) ISO currency code. Currently supported: 'SLE', 'USD'"
                        value:
                          type: integer
                          description: The value representation in the currency's minor unit. E.g. For 1 Leone (SLE 1), the value should be 100, denoting cents, the minor unit.
                      additionalProperties: false
                      description: Minimum total amount to be collected before the recurrent payment code is considered complete. Optional.
                  additionalProperties: false
                  description: Updated target count or amount for completing a recurrent payment code.
                  nullable: true
                financialAccountId:
                  maxLength: 64
                  pattern: ^fac-.*$
                  type: string
                  description: Updated destination financial account for funds settlement.
                  nullable: true
                metadata:
                  maxProperties: 64
                  type: object
                  description: Updated metadata for storing additional context about the payment code.
                  nullable: true
              additionalProperties: false
              description: Partially updates an existing payment code with new values, rules, or account bindings.
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: Represents the status of the query operation, confirming if it was successful. This field is always true
                  messages:
                    type: array
                    items: { }
                    description: Contains a list of messages providing relevant information or feedback related to the query or operation
                  result:
                    $ref: "#/components/schemas/PaymentCode"
  /v1/payments:
    get:
      tags:
        - Payment
      summary: List Payments
      description: Lists payments with optional filters like status or creation date.
      operationId: ListPayments
      parameters:
        - name: orderNumber
          in: query
          description: The order number of the order associated to a payment.
          schema:
            type: string
            description: The order number of the order associated to a payment.
        - name: financialAccountId
          in: query
          description: ID of the financial account that received the funds.
          schema:
            type: string
[...]
